{% extends 'registration/base.html'%}
{% load bootstrap4 %}
{% block title %}Log in to Jirnai{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/regs.css' %}">
{% endblock %}

{% block content %}
  <div class="container jumbotron" style="background-image: url(/static/images.jpeg) ! important">
    <h1 class="text-center logo my-4">

    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <h3 class="card-header" style="text-align: center;">JIRANI</h3>
          <div class="card-body">
            <h4 class="card-title" style="text-align: center;">LOG IN</h4>
            <form method="post" novalidate >
              {% csrf_token %}
              {% include 'Includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Log in</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            New to JIRANI? <a href="{% url 'signup' %}" style="margin-left: 2em;">Sign up</a>
          </div>
        </div>
        <div class="text-center py-2">
          <small>
            <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}